@using LotteryResult.Data.Models;
@using System.Globalization;
@using LotteryResult.Extensions;

@{
    ViewData["Title"] = "Results";

}


<h1>Resultados</h1>

@{
    var products = ViewBag.products as List<Product> ?? new List<Product>();
    //var date = ((DateTime)ViewBag.Date).ToString("yyyy-MM-dd");
    var date = ((DateTime)ViewBag.Date).ToString("dd-MM-yyyy");

    <div class="container-fluid">
        <form class="row mt-3 mb-3">
            <div class="col-3">
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="date" name="date" />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Filtrar"/>
            </div>
        </form>
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 border table-responsive">
                    <h3>@product.Name</h3>
                    @{
                        if (product.Results.Any())
                        {
                            <p>Ultima actualizacion @product.Results.Max(x=> x.CreatedAt).ToString("hh:mm tt")</p>
                        }
                    }
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th>Resultado</th>
                                <th>Hora</th>
                                <th>Sorteo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (!product.Results.Any())
                                {
                                    <tr>
                                        <td class="text-center" colspan="3">Sin data que mostrar</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var result in product.Results.OrderByDescending(x => DateTime.ParseExact(x.Time, "hh:mm tt", CultureInfo.InvariantCulture)).ToList())
                                    {
                                        <tr>
                                            <td>@result.Result1</td>
                                            <td>@result.Time</td>
                                            <td>@(result.Sorteo ?? "N/A")</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}

@section scripts{
    <script>
        window.onload = function () {
            let message = '@ViewBag.Message';
            if (message) {
                Swal.fire(message);
            }
        };

        $(function () {
            $('input[name="date"]').daterangepicker({
                locale: { format: 'DD-MM-YYYY' },
                autoApply: true,
                startDate: '@date',
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
                //$('input[name="date"]').val(moment(start).format('YYYY-MM-DD'));
                $('input[name="date"]').val(moment(start).format('DD-MM-YYYY'));
                console.log(start);
                console.log(moment(start).format('DD-MM-YYYY'));
            });
        });

    </script>
}

